body{
    background-color: rgb(246, 162, 194);
     margin: 20px;
    line-height: 38px;

}

.section {
  background: rgb(63, 2, 29);
  color: azure;
  padding: 40px;
  margin: 20px ;
  border-radius: 10px;
  font-size: 20px;
}

button {
  margin-top: 2px;
border-radius: 3px;
  cursor: pointer;
  height: 20px;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
}